:root {
  --navyblue: #2e2f42;
  --slate: #434455;
}
body {
  font-family: "Roboto", sans-serif;

  text-decoration: none;
}
.header-link-link {
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02;
}
.address {
  color: var(--slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02;
}
